<!DOCTYPE html>
<html>
<head>
    <link href="../css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body {background-image:url(/04.jpg);background-repeat:no-repeat; background-size:1445px 830px;-moz-background-size:100% 100%;}
    </style>
</head>
<body>
<h1 style="position:relative; left:600px; top:50px; color: white;font-size: 50px">
    文章列表
</h1>
<div style="position:relative; left:440px; top:80px; color: white;font-size: 40px">
    <font color="white" size="6.5em">请问您对以下哪篇文章感兴趣</font>
</div>
<div style="position:relative; left:600px; top:80px;" div th:each="article,articleStat: ${articles}">
    <p  th:text="${articleStat.index + 1}+'. '+${article.title}" style="color: white;font-size: 30px"></p>
</div>
</body>
</html>